---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { currentPath } from "../../utils/currentPath";
import { getData } from "../../utils/getData";

export async function getStaticPaths() {
  const data = await getData("creatures");

  return data?.map(({ description, drops, image, id, location, name }) => {
    return {
      params: { id },
      props: {
        description: description,
        drops: drops,
        image: image,
        location: location,
        name: name,
      },
    };
  });
}

const { id } = Astro.params;
const { description, drops, image, name, location } = Astro.props;
---

<Layout pageTitle={name} title={name}>
  <figure>
    <img src={image} />

    <h1>{id}: {description}</h1>
  </figure>
</Layout>
