---
import { baseUrl } from "../consts";

type Props = {
  id: string;
  image: string;
  name: string;
  path: string;
};

const { id, image, name, path } = Astro.props;
---

<div class="card">
  <a href={`${baseUrl}${path}/${id}`}>
    <figure class="h-56 mb-5 text-center overflow-hidden">
      <img
        class="inline-flex object-cover object-top h-full scale-1 hover:scale-105 transition ease-in duration-300"
        src={image}
        alt={name}
        loading="lazy"
      />
    </figure>
    <span class="tracking-wide">{name}</span>
  </a>
</div>
